



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="top">
    <header class="header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">TodoLists</a>
          <ul class="right">
            <li><a href="/recipe/new">AddNewTodoLists</a></li>
            
            <li><a href="/user/new">New User</a></li>
            
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </div>
  </body>
</html>


