<h2>Add</h2>
{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}
<form method="post" action="/signup">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

  
</form>