
.wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background: aqua;
  }
  nav{
    background:hsl(305, 60%, 11%);
    width: 710px;
    height: 100px;
    margin-left: 290px;
    
  }

select {
  display: block;

}
.brand-logo{
background: black;
margin-left: 10px;
font-family: 'Charm', cursive;
border:1px solid yellow;
border-radius: 25px;
margin-top: 10px;
}
.header{
  background-color:lightblue;
}
.card{
  background:lightblue;
  width: 710px;
  margin-left: 100px;
}
li{
  background: rgb(90, 5, 5);

font-family: 'Shrikhand', cursive;
border:1px solid rgb(5, 40, 196);
border-radius: 25px;
margin-right: 10px;
margin-top: 10px;
}
.row{
  background-color: rgb(168, 127, 127);
  width: 880px;
  padding-left: 240px;
}
.form-container{
  width: 750px;
  margin-left: 100px;
  background-color: rgb(168, 127, 127);
}
.btn{
  background-color: blueviolet;
}
.btn:hover{
  background-color: cornflowerblue;
}
.card{

  width: 750px;
  
}