<section class="profile">
  <h2>{{user.local.email}}</h2>
  {{#if user.recipes}}
    <div class="recipes">
      {{#each user.recipes}}
         {{> 'recipe'}}
      {{/each}}
    </div>
  {{else}}
    <p ><h1 id="new">No TodoList yet</h1></p>
  {{/if}}
</section>
