<section class="profile">
  <h2>{{user.local.email}}</h2>
  {{#if user.recipes}}
    <div class="recipes">
      {{#each user.recipes}}
         {{> 'recipe'}}
      {{/each}}
    </div>
  {{else}}
    <p>No TodoList yet</p>
  {{/if}}
</section>
