<section class="form-container">
  <h3>New Todo</h3>
  <form action="/recipe" method="POST" class="recipe-form">
    <div class="input-field">
      <textarea  cols="30" rows="10" placeholder="Todos"></textarea>
    </div>
    <div class="">
      <select name="author" id="author">
        {{!-- <option value="" disabled selected>Choose the User</option> --}}
        {{#each users}}
          <option value="{{id}}">{{local.email}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="AddTodo" class="btn">
    </div>
  </form>
</section>